Import the SQL database into Pandas. (Yes, you could read the CSVs directly in Pandas, but you are, after all, trying to prove your technical mettle.) This step may require some research. Feel free to use the code below to get started. Be sure to make any necessary modifications for your username, password, host, port, and database name:

In [5]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
from config_TC import pgrs_pw
print(pgrs_pw)

hawkeyes

In [ ]:

host = "localhost"
user = "postgres"
port = "5432"
passwd = pgrs_pw
db = "Employee_SQL"

engine = create_engine(f'postgresql://{user}:{passwd}@{host}:{port}/{db}')
connection = engine.connect()

In [ ]:
employees_sql_query = pd.read_sql_query('select * from employees;', connection)

employees_df = pd.DataFrame(employees_sql_query, columns=['emp_no','emp_title_id','birth_date','first_name', 'last_name', 'sex', 'hire_date'])
print (employees_df)

In [ ]:
salaries_sql_query = pd.read_sql_query('select * from salaries;', connection)

salaries_df = pd.DataFrame(salaries_sql_query, columns=['emp_no','salary'])
salaries_df.plot.hist(bins=100)
plt.title('Salary Distribution')
plt.xlabel('Salary')
plt.show()

In [ ]:
titles_sql_query = pd.read_sql_query('select * from titles;', connection)

titles_df = pd.DataFrame(titles_sql_query, columns=['title_id','title'])
print (titles_df)